<html>
  <head>
  <title>UCSD wifi</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <h1>UCSD WiFi Map</h1>
      <div class="break"></div>

      <div id="top_bar">

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary active" id="fastest">
            <input type="radio" name="options"  autocomplete="off" checked> Fastest
          </label>
          <label class="btn btn-outline-secondary" id="closest">
            <input type="radio" name="options" autocomplete="off"> Closest
          </label>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary active" id="protected">
            <input type="radio" name="options"  autocomplete="off" checked> UCSD Protected
          </label>
          <label class="btn btn-outline-secondary" id="guest">
            <input type="radio" name="options" autocomplete="off"> UCSD Guest
          </label>
          <label class="btn btn-outline-secondary" id="resnet">
            <input type="radio" name="options" autocomplete="off"> RESNET
          </label>
        </div>

        <div class="crappy-button" id="contribute">
          <h4>Contribute</h4>
        </div>
        <br style="clear: left;" />
      </div>
      <div class="break"></div>

      <div class="row no-gutters">
        <div class="col-sm-7 col-md-6 col-lg-5">
          <div id="list-results"></div>
        </div>
        <div class="col-sm-5 col-md-6 col-lg-7">
          <div id="map"></div>
        </div>
      </div>

    </div>

    <div class="popup-container" id="add-speed-container">
      <div id="speed-popup">
        <span class="close-popup">&times;</span>
        <h3>Add Internet Speed</h3>
        <h4>Are you sure you want to share this information with our site? </h4>
        <p>We will only record your internet speed, current location and the time this information was taken. </p>
        <img id="record-speed-img" src="images/recording.png" alt="Recording speed">
        <p>Your contribution will help keep campus informed and on the fastest wifi UCSD has to offer!</p>
        <button id="add-speed">Record Internet Speed</button>
        <button class="cancel">Cancel</button>
      </div>
    </div>

    <div class="popup-container" id="confirmation-container">
      <div id="confirmation-popup">
        <span class="close-popup">&times;</span>
        <h3 id="confirmation-title"></h3>
        <p id="confirmation-text"></p>
        <a href="/home"><button>Close</button></a>
      </div>
    </div>

    <div id="locationDataModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <p>Please turn on location information if you'd like to filter by closest.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWfuiGEQ4OE7D5wlEQ2wYIWerJeYqiq5Q&callback=initMap">
    </script>
    <script src="js/common.js"></script>
    <script src="js/addSpeed.js"></script>
    <script src="js/home.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
