<html>
  <head>
  <title>UCSD wifi</title>
  <script src="jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <h1>Welcome to the UCSD wifi map!</h1>
    <div class="break"></div>

    <div id="top_bar">
      <h4 class="text-label">Good For:</h4>
      <div class="label" id="green">
        <h4>Streaming</h4>
      </div>
      <div class="label" id="yellow">
        <h4>Sending Photos</h4>
      </div>
      <div class="label" id="red">
        <h4>Basic Internet Usage</h4>
      </div>
      <div class="label" id="add-data">
        <h4><a href="/addSpeed">Contribute</a></h4>
      </div>
      <br style="clear: left;" />
    </div>
    <div class="break"></div>

    <div>
      <div id="list-results">
      </div>
      <div id="map">
        <img src="images/static_map.png" alt="UCSD Map"/>
      </div>
    </div>


    <script src="js/home.js"></script>
  </body>
</html>
