/* General */
body {
	font-family: "Roboto", sans-serif;
	background-color: #F2F2F2 !important;
}

.break {
	height: 25px;
}

img {
	max-width: 100%;
}

a {
	color: black;
	text-decoration: none;
}


/* Button Section */

#add-speed{
	/* position: absolute; */
	margin: 0 auto;
	width: 200px;
	height: 60px;
	background: radial-gradient(237.84px at 100% 0%, #44ACE7 0%, #824AF9 100%);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	color: #fff;
}



/* List Section */

#list-results {
	overflow: scroll;
}

.list-result {
	height: 200px;
	margin-bottom: 15px;
}

.list-result-info p {
	font-size: 12px;
	margin-bottom: 0rem !important;
}

.list-pic {
	float: left;
	margin-right: 5%;
}

.list-result-info {
	width: 65%;
}

.padding-top-10{
	padding-top: 10px;
}

.list-result-info h2 {
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 500;
}

.list-pic img {
	width: 215px;
  height: 135px;
  object-fit: cover;
}

.green-speed {
	color: #079C31;
	line-height: 0px;
	font-size: 26px;
}

.yellow-speed {
	color: #FBCA1B;
	line-height: 0px;
	font-size: 26px;
}

.red-speed {
	color: #BC0202;
	line-height: 0px;
	font-size: 26px;
}

.grey {
	color: #979797;
}


/* Map Section */

#map {
	height: 88%;
	margin: 0em 0em 0em 1em;
}


/* Popups */

.popup-container{
	min-width: 576px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup content */
#speed-popup, #confirmation-popup {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 80%;
  height: 500px;
  text-align: center;
	border-radius: 10px;
}

#record-speed-img {
  height: 250px;
}


.icon-containter{
	position: absolute;
	height: 500px;
	background: linear-gradient(111.09deg, #4BA0EA 0%, #7B55F8 100%);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	/* border-radius: 10px; */
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.modal-containter{
	float: right;
	background: #F2F2F2;
	/* width: 63%; */
	height: 500px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	/* min-width: 492px;
	min-height: 500px; */
}





#speed-popup-title{
	height: 73px;
	margin: auto;
	padding: 5%;
	overflow: auto;
  text-align: center;
	font-family: Helvetica;
	font-style: italic;
	font-weight: bold;
	line-height: normal;
	font-size: 32px;
	color: #4A4A4A;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}


#speed-popup-text{
	height: auto;
	padding: 5%;
	margin: 5%;
	margin: auto;
	display: inline-block;
	overflow-y: auto;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	font-size: 16px;
	color: #656464;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

.select-network{
	display: inline-block;
	width: 100%;
	margin: auto;
	margin: 6%;
}

#select-network-text{
	display: block;
	margin: auto;
	overflow: auto;
  width: 90%;
	font-family: Helvetica;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	color: #656464;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

.confirmation-icon{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 60%;
	margin: auto;
	align-items: center;
}

#close{
		margin: 10 auto;
		width: 150px;
		height: 60px;
    background: radial-gradient(237.84px at 100% 0%, #44ACE7 0%, #824AF9 100%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #fff;
}

#confirmation-title{
		height: 73px;
		margin: auto;
    padding: 5%;
		overflow: auto;
    text-align: center;
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    color: #4A4A4A;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

#confirmation-text{
	 height: auto;
	 margin: 5%;
	 padding: 5%;
	 display: inline-block;
	 overflow-y: auto;
	 font-family: Helvetica;
	 font-style: normal;
	 font-weight: normal;
	 line-height: 22px;
	 font-size: 16px;
	 color: #656464;
	 text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

/* Popup close button */
.close-popup {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
	padding: 10px;
}

.close-popup:hover,
.close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* loading overlay */

#overlay {
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(18.4, 18.4, 18.4); /* Black fallback color */
    background-color: rgba(18.4, 18.4, 18.4, 0.8); /* Black w/opacity */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    margin-left: 45%;
}

.loader {
    border: 13px solid #f3f3f3; /* Light grey */
    border-top: 13px solid rgb(120,85,240); /* Purple */
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Adding to Bootstrap */

.mt-10 {
	margin-top: 10em;

}

.card {
	margin-bottom: 1em;
	flex-direction: row !important;
	box-shadow: 0 5px 5px rgba(0,0,0,.08);
	border: none !important;
	border-radius: 2px !important;
}

.card:hover {
		box-shadow: 0 5px 10px rgba(0,0,0,.16);
		background-color: #fcfcfc;
}

.btn-group{
	padding-right: 25px;
}

.divider-bottom{
	margin-bottom: .4em;
}

.btn-gradient {
	background: radial-gradient(237.84px at 100% 0%, #44ACE7 0%, #824AF9 100%);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	border-radius: 50px !important;
	color: #fff;
}

.btn-outline-secondary:active {
		background: radial-gradient(237.84px at 100% 0%, #44ACE7 0%, #824AF9 100%) !important;
}

.active,
.btn-outline-purple:hover {
	background: #824AF9 !important;
	color: #ffffff !important;
}

.btn-outline-purple{
	border-color:  #824AF9 !important;
	color:  #824AF9;
}

.btn-gradient:hover {
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.50) !important;
	background: linear-gradient(237.84deg, #44ace7, #824af9) !important;
background-size: 400% 400% !important;

-webkit-animation: AnimationName 2s ease infinite;
-moz-animation: AnimationName 2s ease infinite;
animation: AnimationName 2s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

#googlemaps {
  height: 100%;
  width: 100%;
  position:absolute;
	opacity: .2;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

/*Google Maps Legend */
#legend {
    font-family: "Roboto", sans-serif;
    background: #fff;
    padding: 10px;
    margin: 10px;
    border: 1px solid #DFDFDF;
		box-shadow: 0 5px 5px rgba(0,0,0,.08);
  }

h3 {
	font-size: 18px !important;
	font-weight: 500;
}

.legendIcon {
	line-height: 0px;
}
