/* General */
body {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: "Roboto", sans-serif;
	background-color: #F2F2F2 !important;
	/*padding: 0px;
	margin: 0px;*/
}

.break {
	height: 25px;
}

img {
	max-width: 100%;
}

a {
	color: black;
	text-decoration: none;
}


/* Button Section */
.text-label {
	padding-left: 15px;
}

#contribute {
	float: right;
}

#contribute:hover {
	cursor: pointer;
}



/* List Section */

.list-result {
	margin-bottom: 15px;
}

.list-result-info p {
	font-size: 12px;
	margin-bottom: 0rem !important;
}

.list-pic {
	float: left;
	margin-right: 5%;
}

.list-result-info {
	width: 65%;
}

.padding-top-10{
	padding-top: 10px;
}

.list-result-info h2 {
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 500;
}

.list-pic img {
	width: 215px; /* You can set the dimensions to whatever you want */
  height: 135px;
  object-fit: cover;
}

.green-speed {
	color: green;
	line-height: 0px;
	font-size: 26px;
}

.yellow-speed {
	color: yellow;
	line-height: 0px;
	font-size: 26px;
}

.red-speed {
	color: red;
	line-height: 0px;
	font-size: 26px;
}

.grey {
	color: #979797;
}


/* Map Section */
#map {
	height: 88%;
	margin: 0em 0em 0em 1em;
}


/* Popups */
.popup-container{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup content */
#speed-popup, #confirmation-popup {
  background-color: #fefefe;
  margin: auto;
  /* padding: 20px; */
  border: 1px solid #888;
  width: 80%;
  height: 500px;
  text-align: center;
	border-radius: 10px;
}

#record-speed-img {
  height: 250px;
}


.icon-containter{
	position: absolute;
	width: 30%;
	height: 500px;
	background: linear-gradient(111.09deg, #4BA0EA 0%, #7B55F8 100%);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	/* border-radius: 10px; */
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

.modal-containter{
	float: right;
	width: 63%;
	height: 500px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
}


#add-speed{
	position: absolute;
	padding-left:2%;
	padding-right:2%;
	right: 29%;
	top: 60.45%;
	bottom: 32.62%;
	background: radial-gradient(237.84px at 100% 0%, #44ACE7 0%, #824AF9 100%);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	color: #fff;
}


#speed-popup-title{
	height: 73px;
	margin: auto;
  width: 70%;
	padding: 5%;
  text-align: center;
	font-family: Helvetica;
	font-style: italic;
	font-weight: bold;
	line-height: normal;
	font-size: 32px;
	color: #4A4A4A;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}


#speed-popup-text{
	height: 100px;
	margin: auto;
  width: 100%;
	padding: 3%;
	padding-top: 8%;
	display: inline-block;
	font-family: Helvetica;
	font-style: normal;
	font-weight: normal;
	line-height: 22px;
	font-size: 16px;
	color: #656464;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

.select-network{
	display: inline-block;
	width: 100%;
	margin: auto;
	padding: 15%;
}

#select-network-text{
	display: block;
	margin: auto;
  width: 90%;
	font-family: Helvetica;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
	color: #656464;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

.confirmation-icon{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 60%;
	margin: auto;
	align-items: center;
}

#close{
		position: absolute;
    padding-left: 2%;
    padding-right: 2%;
    right: 32%;
    top: 45%;
    padding-bottom: 1%;
    padding-top: 1%;
    background: radial-gradient(237.84px at 100% 0%, #44ACE7 0%, #824AF9 100%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #fff;
}

#confirmation-title{
    height: 73px;
    margin: auto;
    width: 70%;
    padding: 5%;
    text-align: center;
    font-family: Helvetica;
    font-style: italic;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    color: #4A4A4A;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

#confirmation-text{
	 height: 100px;
	 margin: auto;
	 width: 50%;
	 padding-top: 8%;
	 display: inline-block;
	 font-family: Helvetica;
	 font-style: normal;
	 font-weight: normal;
	 line-height: 22px;
	 font-size: 16px;
	 color: #656464;
	 text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.25);
}

/* Popup close button */
.close-popup {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
	padding: 20px;
}

.close-popup:hover,
.close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Adding to Bootstrap */

.mt-10 {
	margin-top: 10em;

}

.card {
	margin-bottom: 1em;
	flex-direction: row !important;
	box-shadow: 0 5px 5px rgba(0,0,0,.08);
	border: none !important;
	border-radius: 2px !important;
}

.btn-group{
	padding-right: 25px;
}

.divider-bottom{
	margin-bottom: .4em;
}

.btn-gradient {
	background: radial-gradient(237.84px at 100% 0%, #44ACE7 0%, #824AF9 100%);
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
	border-radius: 50px !important;
	color: #fff;
}

#googlemaps {
  height: 100%;
  width: 100%;
  position:absolute;
	opacity: .2;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}
