/* General */
body {
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: "Roboto", sans-serif;
	background-color: #F2F2F2 !important;
	/*padding: 0px;
	margin: 0px;*/
}

.break {
	height: 25px;
}

img {
	max-width: 100%;
}

a {
	color: black;
	text-decoration: none;
}


/* Button Section */
.text-label {
	padding-left: 15px;
}

.crappy-button {
	float: left;
    width: 150px;
    border-radius: 10px;
    vertical-align: middle;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    margin: 0px 15px 15px 15px;
}

.highlighted {
	background-color: #999999;
}

.deHighlighted {
	background-color: #d1d1d1;
}

#contribute {
	background-color: #d1d1d1;
	float: right;
}

#contribute:hover {
	cursor: pointer;
}



/* List Section */
/* #list-results {
	float: left;
	width: 35%;
	margin: 0px;
}*/

.list-result {
	margin-bottom: 15px;
}

.list-result-info p {
	font-size: 12px;
	margin-bottom: 0rem !important;
}

.list-pic {
	float: left;
	margin-right: 5%;
}

.list-result-info {
	width: 65%;
}

.padding-top-10{
	padding-top: 10px;
}

.list-result-info h2 {
	margin-bottom: 0px;
	font-size: 18px;
	font-weight: 500;
}

.list-pic img {
	width: 215px; /* You can set the dimensions to whatever you want */
  height: 135px;
  object-fit: cover;
}

.green-speed {
	color: green;
	line-height: 0px;
	font-size: 26px;
}

.yellow-speed {
	color: yellow;
	line-height: 0px;
	font-size: 26px;
}

.grey {
	color: #979797;
}


/* Map Section */
#map {
	/* float: left; */
	/* width: 60%; */
	height: 80%;
	margin: 0px 0px 0px 0px;
}


/* Popups */
.popup-container{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup content */
#speed-popup, #confirmation-popup {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 500px;
  text-align: center;
}

#record-speed-img {
  height: 250px;
}

/* Popup close button */
.close-popup {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-popup:hover,
.close-popup:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Adding to Bootstrap */

.mt-10 {
	margin-top: 10em;

}

.card {
	margin-bottom: 1em;
	margin-right: 1em;
	flex-direction: row !important;
	box-shadow: 0 5px 5px rgba(0,0,0,.08);
	border: none !important;
	border-radius: 2px !important;
}

.btn-group{
	padding-right: 25px;
}
